{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    a,
a:hover,
a::before,
a::after,
a:hover::before,
a:hover::after {
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #14181c;
}

::-webkit-scrollbar-thumb {
  background: #E1E1E1;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

body,
html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 12pt;
  font-weight: 400;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #E1E1E1;
  margin: 0;
  padding: 0;
}

.dashboard-river {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dashboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 90%;
    background: #E1E1E1;
    border: 6px #0f3460 solid;
    overflow: hidden;
    border-radius: 25px;
    z-index: 998;
}

.dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #14181c;
}

.ui-row-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 35px 30px 25px 30px;
}

.logo-comp {
    position: relative;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    transition: all 0.4s ease-in-out;
}

.logo-comp:hover {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.logo-comp > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #E1E1E1;
    transition: all 0.4s ease-in-out;
}

.logo-comp > div > svg {
    fill: white;
    width: 70%;
    height: 70%;
    filter: drop-shadow(1px 1px 0px #14181c);
    transition: all 0.4s ease-in-out;
}

.logo-comp p {
    letter-spacing: 3px;
    font-size: 16pt;
    margin: 0;
    margin-left: 12px;
    padding: 0;
    color: #14181c;
    transition: all 0.4s ease-in-out;
}

.logo-comp:hover > p {
  color: black;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover > div > svg {
    fill: black;
    filter: unset;
    transition: all 0.4s ease-in-out;
}

.search {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

.search input {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background: #E1E1E1;
    border: none !important;
    padding: 0px 20px 5px 20px;
}

.search > svg {
    position: absolute;
    right: 20px;
    bottom: 38%;
    width: 18px;
    height: auto;
    fill: #14181c;
}

.search input:focus {
    outline: 1px solid #E1E1E1;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.profile > svg {
  fill: dimgray;
  width: 25px;
  height: auto;
  margin-right: 20px;
}

.profile > svg:nth-child(3) {
  margin-left: 5px;
  order: 4;
  fill: dimgray;
  margin-right: unset;
}

.profile > svg:hover,
.profile-small > svg:hover {
  cursor: pointer;
  fill: #E1E1E1;
}

.profile > svg:active,
.profile-small > svg:active {
  transform: scale(0.92);
}

.profile > div {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background: url("https://picsum.photos/id/440/60/60");
  background-position: center;
  background-size: cover;
}

.profile-small {
  display: none;
}

.ui-row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px 30px;
}

.left-sidebar {
  position: sticky;
  top: 20px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  background: #E1E1E1;
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.left-sidebar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #E1E1E1;
    border-radius: 10px;
    margin-bottom: 25px;
}

.left-sidebar > div:last-of-type {
  margin-bottom: unset;
}

.left-sidebar > div:hover {
  cursor: pointer;
  transform: translateY(-3px);
  border: 1px solid #E1E1E1;
  background: #E1E1E1;
}

.left-sidebar > div > svg {
  fill: #14181c;
  width: 25px;
  height: auto;
}

.left-sidebar > div:active {
  transform: scale(0.92);
}

.left-sidebar > div:hover > svg {
  fill: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.page-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
}

.page-display h1 {
  position: relative;
  font-size: 30pt;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 30pt;
  color: #E1E1E1;
}

.page-display h1::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #E1E1E1;
  content: "";
  z-index: -1;
}

.page-display h2 {
  font-size: 16pt;
  color: #E1E1E1;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.page-display:hover,
.page-display h1:hover,
.page-display h2:hover {
  cursor: default;
}

.clay-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 100%;
  background: #E1E1E1;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.clay-category svg {
  fill: #14181c;
  width: 30px;
  height: auto;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
}

.clay-category:nth-child(2) > svg {
  width: 37px;
}

.clay-category:nth-child(3) > svg {
  width: 24px;
}

.clay-category p {
  color: #14181c;
  font-size: 15pt;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}

.clay-category:hover {
  cursor: pointer;
  transform: translateX(-15px);
  background: #0f3460  !important;
  transition: all 0.4s ease-in-out;
}

.clay-category:active {
  transform: scale(0.92);
}

.clay-category:hover > svg {
  fill: #E1E1E1;
  transition: all 0.4s ease-in-out;
}

.clay-category:hover > p {
  color: white;
  text-decoration: 2px dotted underline #E1E1E1;
  transition: all 0.4s ease-in-out;
}

.large-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 30px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  background: #E1E1E1;
}

.large-banner:hover {
  background-size: 120%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.large-banner h2 {
  color: #0f3460;
  font-size: 30pt;
  margin: 0;
  padding: 0;
  line-height: 30pt;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0px #14181c, 2px 2px 0px #14181c;
}

.large-banner a {
  position: relative;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px;
  color: dimgray;
  border-radius: 12px;
  overflow: hidden;
  background: #E1E1E1;
}

.large-banner a::after {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #E1E1E1;
  border-radius: 12px;
  opacity: 0;
  z-index: -1;
}

.large-banner a:hover {
  transform: translateY(5px);
  color: black;
}

.large-banner a:hover::after {
  top: 0;
  opacity: 1;
}

.large-banner a:active {
  transform: scale(0.92);
}

.large-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E1E1E1;
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.large-banner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E1E1E1;
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -2;
  transition: all 0.5s ease-in-out;
}

.main-content > hr {
  width: 99%;
  height: 1px;
  margin-top: 35px;
  border: 0;
  border-top: 1px solid #ccc;
}

.main-content > hr:last-of-type {
  margin-top: 0px;
  margin-bottom: 35px;
}

.featured-clay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  z-index: 2;
}

.featured-clay > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: auto;
  background: #E1E1E1;
  padding: 30px 20px;
  margin-top: 25px;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.featured-clay > div:nth-child(2) {
  filter: hue-rotate(15deg);
}

.featured-clay > div:nth-child(3) {
  filter: hue-rotate(30deg);
}

.featured-clay > div:nth-child(4) {
  filter: hue-rotate(45deg);
}

.featured-clay > div:nth-child(5) {
  filter: hue-rotate(60deg);
}

.featured-clay > div:nth-child(6) {
  filter: hue-rotate(75deg);
}

.featured-clay > div > div:nth-child(1) {
  all: unset;
  width: 40%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.featured-clay > div:hover {
  animation: glow 10s linear infinite;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
  background: #E1E1E1;
}

.featured-clay > div:active {
  transform: scale(0.96);
}

.featured-clay > div:nth-child(2):hover {
  animation: glow15 8s linear infinite;
}

.featured-clay > div:nth-child(3):hover {
  animation: glow30 8s linear infinite;
}

.featured-clay > div:nth-child(4):hover {
  animation: glow45 8s linear infinite;
}

.featured-clay > div:nth-child(5):hover {
  animation: glow60 8s linear infinite;
}

.featured-clay > div:nth-child(6):hover {
  animation: glow75 8s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes glow15 {
  0% {
    filter: hue-rotate(15deg);
  }
  100% {
    filter: hue-rotate(375deg);
  }
}

@keyframes glow30 {
  0% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(390deg);
  }
}

@keyframes glow45 {
  0% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(405deg);
  }
}

@keyframes glow60 {
  0% {
    filter: hue-rotate(60deg);
  }
  100% {
    filter: hue-rotate(420deg);
  }
}

@keyframes glow75 {
  0% {
    filter: hue-rotate(75deg);
  }
  100% {
    filter: hue-rotate(435deg);
  }
}

.featured-clay > div > div:nth-child(2) {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #E1E1E1;
}

.featured-clay > div > div:nth-child(2) > h3,
.featured-clay > div > div:nth-child(2) > p,
.featured-clay > div > div:nth-child(2) > a {
  margin: 0;
  padding: 0;
  line-height: 12pt;
}

.featured-clay > div > div:nth-child(2) > h3 {
  font-size: 18pt;
  color: #14181c;
  line-height: 26pt;
  position: relative;
  width: auto;
  height: auto;
}

.featured-clay > div > div:nth-child(2) > h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 15px;
  background: #E1E1E1;
  content: "";
  border-bottom: 2px dotted SpringGreen;
  z-index: -1;
}

.featured-clay > div > div:nth-child(2) > p {
  font-size: 12pt;
  color: #14181c;
  line-height: 16pt;
  padding: 10px 0px;
}

.featured-clay > div > div:nth-child(2) > a {
  background: #E1E1E1;
  color: #E1E1E1;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 7px;
}

.featured-clay > div > div:nth-child(2) > a:hover {
  width: 120px;
  height: 40px;
}

.featured-clay > div > div:nth-child(2) > a:active {
  border: 1px solid #E1E1E1;
}

.featured-users {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}

.featured-users > h2 {
  color: dimgray;
  font-weight: 600;
  font-size: 24pt;
  line-height: 20pt;
}

.featured-users > h2 > span {
  font-weight: 900;
  font-size: 20pt;
}

.featured-users > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
  height: auto;
  margin: 0px 20px;
  border-left: 3px solid #E1E1E1;
  padding-left: 30px;
  left: 10px;
}

.featured-users::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: #E1E1E1;
  content: "";
  z-index: -1;
}

.featured-users > div > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.featured-users > div > div:nth-child(1) > div:nth-child(1) {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: url("https://picsum.photos/id/715/80/80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #E1E1E1;
}

.featured-users > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  background: url("https://picsum.photos/id/910/80/80");
}

.featured-users > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  background: url("https://picsum.photos/id/441/80/80");
}

.featured-users > div > div:nth-child(1) > div:nth-child(2) {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15px;
}

.featured-users > div > div:nth-child(1) > div:nth-child(2) > h3 {
  font-size: 16pt;
  margin: 0;
  padding: 0;
  line-height: 30pt;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
}

.featured-users > div > div:nth-child(1) > div:nth-child(2) > h3:hover {
  transform: translateX(8px);
  color: #14181c;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.featured-users > div > div:nth-child(1) > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.featured-users > div > div:nth-child(1) > div:nth-child(2) > div > svg {
  width: 20px;
  height: auto;
  margin-right: 10px;
  fill: dimgray;
}

.featured-users > div > div:nth-child(1) > div:nth-child(2) > div > svg:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.featured-users > div > div:nth-child(1) > div:nth-child(2) > div > svg:active {
  transform: scale(0.92);
}

.featured-users > div > div:nth-child(2) {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.featured-users > div > div:nth-child(2)::after {
  position: absolute;
  right: 30%;
  background: #E1E1E1;
  color: white;
  content: "CATEGORIES";
  width: 100px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10pt;
}

.clay-category:nth-child(2) {
  background: #E1E1E1;
  order: 1;
}

.clay-category:nth-child(3) {
  background: #E1E1E1;
  order: 3;
}

.featured-users > div > div:nth-child(2) > div {
  background: dimgray;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: #E1E1E1;
}

.featured-users > div > div:nth-child(2) > div:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background: #E1E1E1;
  border: 1px solid #E1E1E1;
}

.featured-users > div > div:nth-child(2) > div:active {
  transform: scale(0.92);
}

.featured-users > div > div:nth-child(2) > div > svg {
  fill: white;
  width: 70%;
  height: auto;
}

.featured-users > div > div:nth-child(2) > div:nth-child(2) > svg {
  width: 40%;
  height: auto;
}

.featured-users > div > div:nth-child(2) > div:nth-child(3) > svg {
  width: 55%;
  height: auto;
}

@media (max-width: 1870px) {
  .featured-users > div > div:nth-child(2)::after {
    right: 20%;
  }
}

@media (max-width: 1720px) {
  .featured-users > div > div:nth-child(2)::after {
    right: 10%;
  }
  .featured-clay > div {
    padding: 40px 20px;
  }
  .featured-clay > div > div:nth-child(2) > h3 {
    line-height: 20pt;
  }
}

@media (max-width: 1590px) {
  .featured-users > div > div:nth-child(2)::after {
    right: 0;
  }
}

@media (max-width: 1500px) {
  .clay-category {
    width: 24%;
  }
  .featured-users > div:nth-child(3) > div:nth-child(2)::after,
  .featured-users > div:nth-child(4) > div:nth-child(2)::after {
    display: none;
  }
}

@media (max-width: 1363px) {
  .ui-row-2 {
    flex-direction: column;
  }
  .main-content {
    margin-left: 0 !important;
  }
  .left-sidebar {
    width: 100%;
    z-index: 999;
    flex-direction: row;
    border-radius: 0px 0px 20px 20px;
    justify-content: space-evenly;
    top: 0px;
    padding: 20px 0px;
    background: #E1E1E1;
    border: 1px solid #E1E1E1;
  }
  .left-sidebar > div,
  .left-sidebar > div:last-of-type {
    margin-bottom: 8px;
  }
}

@media (max-width: 1250px) {
  .featured-users {
    flex-wrap: wrap;
  }
  .featured-users::after {
    display: none;
  }
  .featured-users > div::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: #E1E1E1;
    content: "";
    z-index: -1;
  }
  .featured-users h2 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .featured-users > h2 > br {
    display: none;
  }
  .featured-users > h2 > span {
    all: unset;
    font-weight: 600;
    margin-left: 8px;
  }
  .featured-users > div {
    margin: unset;
  }
}

@media (max-width: 1200px) {
  .featured-users > div {
    width: 33%;
    padding-left: 15px;
  }
  .featured-users > div > div:nth-child(2)::after {
    right: 3%;
  }
}

@media (max-width: 1100px) {
  .clay-category p {
    font-size: 12pt;
  }
  .featured-clay > div {
    width: 49%;
  }
  .featured-users > div {
    width: 90%;
    margin-bottom: 40px;
  }
  .featured-users > div:nth-child(4) {
    margin-bottom: unset;
  }
  .featured-users > div > div:nth-child(2)::after {
    left: 25%;
  }
  .featured-users > div:nth-child(3) > div:nth-child(2)::after,
  .featured-users > div:nth-child(4) > div:nth-child(2)::after {
    display: flex;
  }
  .featured-users {
    overflow: hidden;
    padding-bottom: 30px;
    border-radius: 0 0 20px 20px;
  }
  .featured-users > div::after {
    display: none;
  }
  .featured-users::after {
    display: initial;
    bottom: -40%;
    right: -20%;
    width: 750px;
    height: 750px;
    border-radius: 750px;
  }
}

@media (max-width: 992px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .dashboard-container {
    height: 95%;
  }
  .ui-row-2 {
    padding-top: 0px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-display {
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .page-display h1,
  .page-display h2 {
    color: ##0f3460;
    text-align: center;
  }
  .clay-category {
    width: 100%;
    margin-bottom: 30px;
  }
  .clay-category:nth-child(3) {
    margin-bottom: 10px;
  }
  .clay-category p {
    font-size: 16pt;
  }
  .profile {
    display: none;
  }
  .profile-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }
  .profile-small svg {
    width: 30px;
    margin-right: 30px;
    height: auto;
    fill: dimgray;
  }
  .search {
    display: none;
  }
}

@media (max-width: 970px) {
  .featured-users > div > div:nth-child(2)::after {
    left: 32%;
  }
}

@media (max-width: 800px) {
  .featured-users > div > div:nth-child(2)::after {
    left: 40%;
  }
}

@media (max-width: 760px) {
  .featured-clay {
    justify-content: center;
  }
  .featured-clay > div {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .large-banner h2 {
    text-align: center;
    padding: 0 10px;
    font-size: 24pt;
  }
  .large-banner {
    background-size: cover;
  }
  .large-banner:hover {
    background-size: cover;
  }
}

@media (max-width: 660px) {
  .featured-users > div > div:nth-child(2)::after {
    left: unset;
    right: 5%;
  }
}

@media (max-width: 500px) {
  .featured-users > h2 > br {
    display: initial;
  }
}

@media (max-width: 475px) {
  .left-sidebar > div {
    width: 35px;
    height: 35px;
  }
  .left-sidebar > div > svg {
    width: 20px;
  }
  .ui-row-1 {
    padding: 30px 20px 20px 20px;
  }
  .profile-small svg {
    margin-right: 15px;
  }
}

@media (max-width: 460px) {
  .featured-users > div {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .ui-row-1,
  .ui-row-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .clay-category,
  .large-banner {
    width: 90%;
  }
  .large-banner a {
    padding: 7px 12px;
  }
}

@media (max-width: 410px) {
  .ui-row-1 {
    padding: 30px 10px 20px 10px;
  }
  .profile-small svg {
    width: 20px;
    margin-right: 10px;
  }
  .logo-comp p {
    letter-spacing: 1px;
    margin-left: 7px;
  }
}

@media (max-width: 390px) {
  .featured-users > div > div:nth-child(1) > div:nth-child(2) > h3 {
    font-size: 12pt;
  }
}

@media (max-width: 375px) {
  .featured-users > div > div:nth-child(2)::after {
    right: unset;
    bottom: -40px;
    left: 0;
  }
  .featured-users > div {
    margin-bottom: 75px;
  }
  .featured-users > div:nth-child(4) {
    margin-bottom: 50px;
  }
}

@media (max-width: 335px) {
  .profile-small svg {
    width: 20px;
    margin-right: 5px;
  }
}
</style>
    <div class="dashboard-river">
        <div class="dashboard-container">
            <div class="dashboard">
                <div class="ui-row-1">
                    <div class="logo-comp">
                        <div></div>
                        <p>TalkSpace</p>
                    </div>
                    <div class="search">
                        <input type="search" id="search" name="search" placeholder="Search for clay...">
                    </div>
                    <div class="profile">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.820.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                        <div></div>
                    </div>
                    <div class="profile-small">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.820.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413-1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                    </div>
                </div>
                <div class="ui-row-2">
                    <div class="left-sidebar">
                        {% if isAdmin %}
                            <div>
                                <a href="{{ path('admin_user_list') }}">Liste des utilisateurs</a>
                            </div>
                        {% endif %}
                        <div>
                            <a href="{{ path('category_index') }}">Categories</a>
                        </div>
                        <div>
                            <a href="{{ path('category_create') }}">Create Category</a>
                        </div>
                        <div>
                            <a href="{{ path('board_index') }}">Boards</a>
                        </div>
                        <div>
                            <a href="{{ path('board_create') }}">Create Board</a>
                        </div>
                        <div>
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </div>
                    <div class="main-content">
                        <div class="header">
                            <div class="page-display">
                                <h1>Accueil</h1>
                                <h2>Explore les topics</h2>
                            </div>
                        </div>
                        <div class="large-banner">
                            <h2>Découvre de nouveaux topics</h2>
                            <a href="javascript:void(0);" title="Explore">Liste des topics</a>
                        </div>
                        <hr>
                        <div class="featured-clay">
                            <div class="clay-category">
                                {% for category in categories %}
                                    <p>{{ category.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}