{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Cela inclura les stylesheets du modèle parent (base.html.twig) #}
    <link rel="stylesheet" href="{{ asset('assets/css/securityForm.css') }}">
{% endblock %}

{% block body %}
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">Inscription</h1>
                {{ form_start(registrationForm, { 'attr': {'class': 'opacity'} }) }}
                    {{ form_errors(registrationForm) }}

                    {{ form_row(registrationForm.username, {
                        'attr': {
                            'class': 'form-control mb-3',
                            'placeholder': 'Votre nom d\'utilisateur'
                        }
                    }) }}

                    {{ form_row(registrationForm.email, {
                        'attr': {
                            'class': 'form-control mb-3',
                            'placeholder': 'ex: mon.mail'
                        }
                    }) }}

                    <div class="select-container">
                        <select class="select-hidden" name="{{ registrationForm.emailDomain.vars.full_name }}">
                            {% for choice in registrationForm.emailDomain.vars.choices %}
                                <option value="{{ choice.value }}">{{ choice.label }}</option>
                            {% endfor %}
                        </select>
                        <div class="select-visible">
                            {{ form_row(registrationForm.emailDomain, {
                                'attr': {
                                    'class': 'form-control custom-select',
                                }
                            }) }}
                            <div class="select-arrow">&#9660;</div>
                        </div>
                    </div>


                    {{ form_row(registrationForm.password, {
                        'attr': {
                            'class': 'form-control mb-3',
                            'placeholder': 'Password'
                        }
                    }) }}

                    {{ form_row(registrationForm.agreeTerms, {
                        'label_attr': {
                            'class': 'form-check-label'
                        },
                        'attr': {
                            'class': 'form-check-input'
                        }
                    }) }}

                    <button type="submit" class="btn btn-primary btn-block mt-3">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                <div class="register-forget opacity">
                    <a href="/connexion">J'ai déjà un compte</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
    </section>
{% endblock %}