
{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block body %}
    <h1>Profil de {{ user.username }}</h1>

    <dl>
        <dt>Username:</dt>
        <dd>{{ user.username }}</dd>

        <dt>Email:</dt>
        <dd>{{ user.email }}</dd>

    </dl>

    <h2>Mettre à jour le domaine de l'e-mail</h2>

    <form method="POST" action="{{ path('admin_user_profile_update', {'id': user.id}) }}">
        {{ form_start(form) }}
        {{ form_row(form.emailDomain, {'attr': {'class': 'form-control'}}) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
        {{ form_end(form) }}
    </form>

    <a href="{{ path('admin_user_list') }}" class="btn btn-secondary">Retour à la liste des utilisateurs</a>
{% endblock %}